html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#navbar, footer {
    background-color: orangered;
}

#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}

#navbar ul {
    position: absolute;
    right: 25px;
}

#navbar li {
    display: inline;
}

section {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    height: 800px;
    max-height: 60%;
    min-width: 60%;
    max-width: 1000px;
    border-radius: 10%;
    padding: 30px;

    background-color: orange;
}

h1 {
    font-size: 48pt;
}

.break {
    flex-basis: 100%;
}

.icon {
    max-height: 100px;
    padding: 0 10px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.contact-tile {
    text-align: center;
}

footer {
    padding: 15px;
    text-align: center;
}
